{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Здравствуйте, {{ user.username }}!</span></li>
        {% if user.is_superuser or user.is_staff %}
            <li><a href="{% url 'newpost' %}">Добавить статью</a></li>
        {% endif %}
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Войти</a></li>
    <li><a href="{% url 'registration' %}">Регистрация</a></li>
</ul>

{% endif %}